<tr>

	<td>
		<%= link_to(feed.title, feed, remote: true, id: "feed-#{feed.id}") %>
		<span class="unread-count", id="unread-<%= feed.id %>")><%= feed.items.where("read = ?", false).count %></span>
	</td>

	<td>
		<%= link_to("X", feed, method: "delete", class: "btn btn-danger btn-mini", data: { confirm: 'Are you sure?' }, id:"delete-feed") %>
	</td>
</tr>