<tr><td><%= link_to(feed.title, feed, remote: true, data: {feed_id: feed.id}, id: "feed-#{feed.id}") %></td>
	<td> <%= link_to("Update", feed, method: "put", class: "btn btn-mini", id:"updatefeed") %></td>
</tr>