<div class="span3">
<h4>Feed List</h4>
	<%= link_to("New feed", new_feed_path, remote: true, class: "btn btn-small", id:"new-link") %>
	<%= render 'feeds/feed_list' %>
</div>
<div class="span9" id="item-list">
	<%= render allItems %> 

</div>