.lander {
	font-size: 48pt;
	margin-bottom: 20px;
	margin-top: 20px;
}

#start-info{
	margin: 40px;
}

h2 {
	font-size: 18pt;
	color: gray;
}

.center{
	text-align: center;
}

#feed-list{
	margin-top: 32px;
}

#new-form{
	position: absolute;
	background-color: rgb(252, 252, 252);
	padding: 8px 8px 8px 8px;
	border-color: RGB(221, 221, 221);
	border-width: 1px;
	border-style: solid;
}


#userbox{
	margin-top: 20px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 6px;
	padding-bottom: 8px;
}

#new-link{
	margin-bottom: 8px;

}
#newfeed{
	margin-bottom: 10px;
}

#delete-feed{
	float: right;
}

.item{
	margin-top: 18px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: RGB(221, 221, 221);
	padding-top: 12px;
}

.closed-item{
	font-weight: bold;
	padding-top: 4px;
	margin-bottom: 4px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: RGB(221, 221, 221);
}

.opened-item{
	font-weight: bold;
	padding-top: 4px;
	margin-bottom: 4px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: RGB(221, 221, 221);
}

.twitter{
	background-image: image-url("twitter.png");
	background-repeat: no-repeat;
	float: right;
	width: 22px;
	height: 22px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	vertical-align: center;
	padding-left: 5px;
}

.pocket{
	background-image: image-url("pocket.png");
	background-repeat: no-repeat;
	float: right;
	width: 22px;
	height: 22px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	vertical-align: center;
	padding-left: 5px;
}

.starred{
	background-image: image-url("star.png");
	background-repeat: no-repeat;
	float: right;
	width: 22px;
	height: 22px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	vertical-align: center;
	padding-left: 5px;
}

.unstarred{
	background-image: image-url("unstar.png");
	background-repeat: no-repeat;
	float: right;
	width: 22px;
	height: 22px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	vertical-align: center;
	padding-left: 5px;
}

.read{
	font-weight: normal;
}

.published, .read-mark {
	color: #444;
}

.published{
	font-style: italic;
}


.unread-count{
	padding-left: 2px;
	font-size: 13px;
	color: #aaa;
}

.update-feed{
	margin-bottom: 8px;
}